@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
@using BusinessAdmin.WebApp.Helpers
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                @if (BusinessAdmin.WebApp.Models.Commons.FrontUser.Get() != null)
                {
                    <p>@BusinessAdmin.WebApp.Models.Commons.FrontUser.Get().NombreCompleto</p>

                }
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
        </form>*@
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MENU DE OPCIONES</li>
                <li class="@Html.MenuIsActive(new string[] { "Sucursal", "Producto", "Servicio", "Peluquero" })">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>Modulo catalogos generales</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.SubMenuIsActive("Sucursal")"><a href="@Url.Action("Index", "Sucursal")"><i class="fa fa-circle-o"></i> Sucursales</a></li>
                        <li class="@Html.SubMenuIsActive("Producto")"><a href="@Url.Action("Index", "Producto")"><i class="fa fa-circle-o"></i> Productos</a></li>                        
                        <li class="@Html.SubMenuIsActive("Servicio")"><a href="@Url.Action("Index", "Servicio")"><i class="fa fa-circle-o"></i> Servicios</a></li>                        
                        <li class="@Html.SubMenuIsActive("Peluquero")"><a href="@Url.Action("Index", "Peluquero")"><i class="fa fa-circle-o"></i> Peluqueros</a></li>                        
                    </ul>
                </li>
                <li class="@Html.MenuIsActive(new string[] { "CobroServicio", "CobroProducto" })">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>Modulo Cobros y Gastos</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.SubMenuIsActive("CobroServicio")"><a href="@Url.Action("Index", "CobroServicio")"><i class="fa fa-circle-o"></i> Cobro Servicios</a></li>
                        <li class="@Html.SubMenuIsActive("CobroProducto")"><a href="@Url.Action("Index", "CobroProducto")"><i class="fa fa-circle-o"></i> Cobro Productos</a></li>
                        <li class="@Html.SubMenuIsActive("Pago")"><a href="@Url.Action("Index", "Pago")"><i class="fa fa-circle-o"></i> Gastos</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>