@model BusinessAdmin.WebApp.Models.Sucursal

@{
    ViewBag.Title = "Editar Sucursal";
}

@using (Html.BeginForm("Edit", "Sucursal", FormMethod.Post, new { @class = "box" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br /><br />
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="form-errors">
                @Html.ValidationSummary(false, "Resumen de Errores: ", new { @class = "input-error" })
            </div>
        }
        @Html.HiddenFor(model => model.SucursalID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.Direccion, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoFijo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.TelefonoFijo, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoMovil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefonoMovil, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.TelefonoMovil, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsActivo)
                @Html.ValidationMessageFor(model => model.EsActivo, "", new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-info" />
            </div>
        </div>
    </div>
    
    <div class="paddingLeft15">
        @Html.ActionLink("Volver a Lista de Sucursales", "Index")
    </div>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
