@model BusinessAdmin.WebApp.Models.Servicio

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Servicio</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioBase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioBase)
                @Html.ValidationMessageFor(model => model.PrecioBase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsActivo)
                @Html.ValidationMessageFor(model => model.EsActivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SucursalID, "SucursalID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SucursalID", String.Empty)
                @Html.ValidationMessageFor(model => model.SucursalID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a lista de servicios", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
