@model BusinessAdmin.WebApp.Models.Servicio

@{
    ViewBag.Title = "Crear Servicio";
}

@using (Html.BeginForm("Create", "Servicio", FormMethod.Post, new { @class = "box" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br /><br />
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="form-errors">
                @Html.ValidationSummary(false, "Resumen de Errores: ", new { @class = "input-error" })
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioBase, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioBase, new { htmlAttributes = new { @class = "form-control mediumSizeInput" } })
                @Html.ValidationMessageFor(model => model.PrecioBase, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsActivo)
                @Html.ValidationMessageFor(model => model.EsActivo, null, new { @class = "input-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SucursalID, "Sucursal", new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownList("SucursalID", (IEnumerable<SelectListItem>)ViewBag.SucursalID, new { @class = "form-control mediumSizeInput", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SucursalID, null, new { @class = "input-error" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-info" />
            </div>
        </div>
    </div>
    
    <div class="paddingLeft15">
        @Html.ActionLink("Volver a Lista de Servicios", "Index")
    </div>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
