@model BusinessAdmin.WebApp.Models.Peluquero

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar peluquero?</h3>
<div>
    <h4>Peluquero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CedulaIdentidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaIdentidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoMovil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoMovil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModoContrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModoContrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeCorte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeCorte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeVentas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeVentas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeSemanal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeSemanal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a lista de peluqueros", "Index")
        </div>
    }
</div>
