@model BusinessAdmin.WebApp.Models.CobroServicio

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cobro Servicio</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CobroServicioID)

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto)
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoPago)
                @Html.ValidationMessageFor(model => model.TipoPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingreso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingreso)
                @Html.ValidationMessageFor(model => model.Ingreso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cambio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cambio)
                @Html.ValidationMessageFor(model => model.Cambio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCobro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCobro)
                @Html.ValidationMessageFor(model => model.FechaCobro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsActivo)
                @Html.ValidationMessageFor(model => model.EsActivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioID, "UsuarioID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsuarioID", String.Empty)
                @Html.ValidationMessageFor(model => model.UsuarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServicioID, "ServicioID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServicioID", String.Empty)
                @Html.ValidationMessageFor(model => model.ServicioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeluqueroID, "PeluqueroID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PeluqueroID", String.Empty)
                @Html.ValidationMessageFor(model => model.PeluqueroID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a Lista de Cobro de servicios", "Index")
</div>
