@model BusinessAdmin.WebApp.Models.Producto

@{
    ViewBag.Title = "Detalle de producto: " + @Model.Nombre;
}

<div class="box">
    <br />
    <dl class="dl-horizontal">
        <dt class="form-detail">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="form-detail">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>

        <dt class="form-detail">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt class="form-detail">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt class="form-detail hide">
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>

        <dd class="hide">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>

        <dt class="form-detail">
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>
    <div class="paddingLeft15">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ProductoID })<span> | </span>

        @Html.ActionLink("Volver a Lista de Productos", "Index")
    </div>
    <br />
</div>
