@model BusinessAdmin.WebApp.ViewModel.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Acceso al sistema";
}

@using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.NombreUsuario)
        @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NombreUsuario, null, new { @class = "label label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        <input type="password" name="Password" class="form-control" />
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-danger" })
    </div>

    <div class="text-right">
        <button data-ajax="true" type="submit" class="btn btn-primary">Entrar</button>
    </div>
} 