@model BusinessAdmin.WebApp.Models.Pago

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Gasto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoGasto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoGasto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PagoID }) |
    @Html.ActionLink("Volver a lista de gastos", "Index")
</p>
